@import "../../vars";

.SiteInConstruction {
  margin: toRem(20px);

  &-img {
    align-self: center;
    width: 75%;
  }

  &-paragraph {
    margin-bottom: toRem(10px);

    &-link {
      text-decoration: none;
      &:hover {
        color: $color-tertiary;
      }
    }
  }

  @media screen and (min-width: $breakpoint-sm-tablet) {
    justify-content: center;
  }
}
