@use "../../../vars" as vars;

.Title {
  position: relative;
  color: vars.$color-primary;
  margin-bottom: vars.toRem(30px);
  &-content {
    margin-left: vars.toRem(15px);
  }
  &-icon {
    position: absolute;
    top: vars.toRem(-15px);
    left: vars.toRem(-5px);
    font-size: vars.toRem(75px);
    opacity: 0.1;
  }
}
