@use "../../../vars" as vars;

.SiteInConstruction {
  height: 92vh;
  padding: vars.toRem(30px) 0 0;
  justify-content: flex-start;
  background: no-repeat center/175%
    url("../../../assets/images/site-in-construction.png") white;

  &-paragraph {
    margin-bottom: vars.toRem(10px);
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    height: 100vh;
    background: no-repeat center/100%
      url("../../../assets/images/site-in-construction.png") white;
    justify-content: flex-end;
    padding: 0 0 vars.toRem(30px);
  }
}
