@use "../../../vars" as vars;

.Home {
  height: calc(100vh - vars.toRem(50px));
  align-items: center;
  background-color: vars.$color-primary;
  color: vars.$color-quinary;
  gap: vars.toRem(50px);

  &-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;

    &-avatar {
      border-radius: 100%;
      width: 20vw;
      min-width: vars.toRem(150px);
      margin: vars.toRem(30px);
    }

    &-name {
      margin: vars.toRem(10px);
    }
  }

  &-scroll {
    color: vars.$color-quinary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &-mouse {
      border: 2px vars.$color-quinary solid;
      border-radius: vars.toRem(16px);
      width: vars.toRem(20px);
      height: vars.toRem(26px);
      margin: vars.toRem(10px);
      &-wheel {
        color: transparent;
        border-radius: 100%;
        background-color: vars.$color-quinary;
        position: relative;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 4px;
        animation: ani-wheel 2s linear infinite;
      }
    }
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    gap: vars.toRem(100px);
  }
  @media screen and (min-width: vars.$breakpoint-lg-tablet) {
    height: 100vh;
  }
}

@keyframes ani-wheel {
  0% {
    top: 30%;
  }

  15% {
    top: 40%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 30%;
  }
}
