@use "../../../vars" as vars;

.Portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: vars.toRem(100px);
  min-height: auto;
  overflow: visible;

  &-filter {
    display: flex;
    flex-direction: column;
    align-self: center;
    &-label {
      cursor: pointer;
      background-color: transparent;
      color: vars.$color-tertiary;
      font-weight: bolder;
      border-radius: vars.toRem(35px);
      margin: vars.toRem(10px);
      padding: vars.toRem(10px) vars.toRem(25px) vars.toRem(10px)
        vars.toRem(10px);
      &:hover {
        background-color: vars.$color-tertiary;
        color: vars.$color-quinary;
      }
      &:focus-within {
        background-color: vars.$color-tertiary;
        color: vars.$color-quinary;
      }
    }
    &-input {
      opacity: 0;
    }
  }

  &-works {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: vars.toRem(30px);
    margin-bottom: vars.toRem(30px);
    justify-items: center;
    overflow: visible;
  }

  &-load-more {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: vars.toRem(20px);
    margin-bottom: vars.toRem(20px);
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    &-filter {
      flex-direction: row;
    }
    &-works {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-rows: auto;
      justify-content: center;
    }
  }
  @media screen and (min-width: vars.$breakpoint-desktop) {
    &-works {
      min-height: auto;
    }
  }
}
