@use "../../../vars" as vars;

.Portfolio {
  &-filter {
    display: flex;
    flex-direction: column;
    &-label {
      cursor: pointer;
      background-color: transparent;
      color: vars.$color-tertiary;
      font-weight: bolder;
      border-radius: toRem(35px);
      margin: toRem(10px);
      padding: toRem(10px) toRem(25px) toRem(10px) toRem(10px);
      &:hover {
        background-color: vars.$color-tertiary;
        color: vars.$color-quinary;
      }
      &:focus-within {
        background-color: vars.$color-tertiary;
        color: vars.$color-quinary;
      }
    }
    &-input {
      opacity: 0;
    }
  }

  &-works {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: toRem(30px);
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    &-filter {
      flex-direction: row;
    }
    &-works {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }
  }
  @media screen and (min-width: vars.$breakpoint-desktop) {
    &-works {
      min-height: 560px;
    }
  }
}
