@use "../../../vars" as vars;

.Filter {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: vars.toRem(15px);
  width: 100%;

  &-label {
    cursor: pointer;
    background-color: transparent;
    color: vars.$color-tertiary;
    font-size: vars.toRem(12px);
    font-weight: bolder;

    &:hover {
      color: vars.$color-primary;
    }
    &:focus-within {
      color: vars.$color-primary;
    }
  }
  &-input {
    opacity: 0;
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    justify-content: flex-start;
    margin: vars.toRem(20px) 0;
  }
}
