@import "../../../vars";

.Experience {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: toRem(30px);
  }

  @media screen and (min-width: $breakpoint-sm-tablet) {
    &-wrapper {
      flex-direction: row;
    }
    &-subsection {
      width: 50%;
    }
  }

  @media screen and (min-width: $breakpoint-lg-desktop) {
    &-wrapper {
      margin-bottom: 10%;
    }
  }
}
