@use "../../../vars" as vars;
@use "../../../global";

.Job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &-header-title {
    color: vars.$color-quinary;
    text-align: end;
  }

  &-img {
    width: 100%;
  }

  &-web-development {
    background-color: vars.$color-secondary;
  }
  &-illustration {
    background-color: vars.$color-tertiary;
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    width: 40%;
  }
}
