@use "../../../vars" as vars;

.Contact {
  margin-top: 10vh;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  clear: both;
  margin-top: vars.toRem(100px);

  &-title {
    margin-bottom: vars.toRem(10px);
  }

  &-image {
    align-self: center;
    width: 70%;
  }

  &-email {
    &-link {
      color: vars.$color-secondary;
    }
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    margin-top: vars.toRem(100px);
  }
  @media screen and (min-width: vars.$breakpoint-lg-tablet) {
    background: no-repeat center/50%
      url("../../../assets/images/contacting.png");
    &-image {
      width: 35%;
    }
  }
}
