@use "../../../vars" as vars;

.Contact {
  margin-top: 10vh;
  height: 100vh;
  position: relative;

  &-title {
    margin-bottom: vars.toRem(10px);
  }

  &-image {
    align-self: center;
    width: 70%;
  }

  &-network {
    width: 100%;
    &-icon {
      color: vars.$color-neutral-2;
      margin: vars.toRem(10px);
      font-size: vars.toRem(36px);
      &:hover {
        color: vars.$color-secondary;
      }
    }

    &-wrapper {
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: vars.toRem(250px) auto vars.toRem(30px);
      &-coding,
      &-drawing {
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
    &-email {
      &-link {
        color: vars.$color-secondary;
      }
    }
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    margin-top: 0;
  }
  @media screen and (min-width: vars.$breakpoint-lg-tablet) {
    background: no-repeat center/50%
      url("../../../assets/images/contacting.png");
    &-image {
      width: 35%;
    }
    &-network {
      &-wrapper {
        margin: vars.toRem(30px) auto;
      }
    }
  }
}
