@import "../../../vars";

.Contact {
  &-title {
    color: $color-primary;
    margin-bottom: toRem(10px);
  }

  &-network {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: toRem(30px) 0;

    &-icon {
      color: $color-neutral-2;
      margin: toRem(10px);
      font-size: toRem(36px);
      &:hover {
        color: $color-secondary;
      }
    }

    &-coding,
    &-drawing {
      width: max-content;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &-email {
    &-link {
      color: $color-tertiary;
    }
  }
}
