@use "../../../vars" as vars;

.About {
  &-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: vars.toRem(30px);

    &-avatar {
      display: none;
      border-radius: 100%;
      width: 40vw;
      max-width: vars.toRem(150px);
      margin-right: vars.toRem(30px);
    }

    &-dialog {
      &-arrow {
        display: none;
        content: "";
        width: vars.toRem(15px);
        height: vars.toRem(15px);
        background-color: white;
        position: relative;
        top: vars.toRem(38px);
        right: vars.toRem(38px);
        transform: rotate(45deg);
      }
      &-paragraph {
        padding-bottom: vars.toRem(10px);
      }
    }
  }

  &-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: vars.toRem(30px);

    &-icon {
      color: vars.$color-neutral-2;
      margin: vars.toRem(10px);
      font-size: vars.toRem(24px);
    }
  }

  @media screen and (min-width: vars.$breakpoint-sm-tablet) {
    &-intro {
      align-items: flex-start;
      flex-direction: row;
      &-avatar {
        display: block;
      }
      &-dialog {
        &-arrow {
          display: block;
        }
      }
    }
    &-skills {
      margin: vars.toRem(50px) vars.toRem(100px);
      &-icon {
        margin: vars.toRem(30px);
        font-size: vars.toRem(36px);
      }
    }
  }
}
