@import "../../../vars";

.About {
  &-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: toRem(30px);

    &-avatar {
      display: none;
      border-radius: 100%;
      width: 40vw;
      max-width: toRem(150px);
      margin-right: toRem(30px);
    }

    &-dialog {
      &-arrow {
        display: none;
        content: "";
        width: toRem(15px);
        height: toRem(15px);
        background-color: white;
        position: relative;
        top: toRem(38px);
        right: toRem(38px);
        transform: rotate(45deg);
      }
      &-paragraph {
        padding-bottom: toRem(10px);
      }
    }
  }

  &-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: toRem(30px);

    &-icon {
      color: $color-neutral-2;
      margin: toRem(10px);
      font-size: toRem(24px);
    }
  }

  @media screen and (min-width: $breakpoint-sm-tablet) {
    &-intro {
      align-items: flex-start;
      flex-direction: row;
      &-avatar {
        display: block;
      }
      &-dialog {
        &-arrow {
          display: block;
        }
      }
    }
    &-skills {
      margin: toRem(50px) toRem(100px);
      &-icon {
        margin: toRem(30px);
        font-size: toRem(36px);
      }
    }
  }
}
