@import "./vars";

@font-face {
  font-family: "RalewayBlack";
  src: url("./assets/fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: "RalewayBlackItalic";
  src: url("./assets/fonts/Raleway-BlackItalic.ttf");
}

@font-face {
  font-family: "RalewayBold";
  src: url("./assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "RalewayBoldItalic";
  src: url("./assets/fonts/Raleway-BoldItalic.ttf");
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url("./assets/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "RalewayExtraBoldItalic";
  src: url("./assets/fonts/Raleway-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url("./assets/fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: "RalewayExtraLightItalic";
  src: url("./assets/fonts/Raleway-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "RalewayItalic";
  src: url("./assets/fonts/Raleway-Italic.ttf");
}

@font-face {
  font-family: "RalewayLight";
  src: url("./assets/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "RalewayLightItalic";
  src: url("./assets/fonts/Raleway-LightItalic.ttf");
}

@font-face {
  font-family: "RalewayMedium";
  src: url("./assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "RalewayMediumItalic";
  src: url("./assets/fonts/Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: "RalewayRegular";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("./assets/fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "RalewaySemiBoldItalic";
  src: url("./assets/fonts/Raleway-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "RalewayThin";
  src: url("./assets/fonts/Raleway-Thin.ttf");
}

@font-face {
  font-family: "RalewayThinItalic";
  src: url("./assets/fonts/Raleway-ThinItalic.ttf");
}

.paragraph-small-regular {
  font-family: $font-primary-regular;
  font-size: toRem(12px);
}

.paragraph-medium-regular {
  font-family: $font-primary-regular;
  font-size: toRem(14px);
}

.paragraph-medium-bold {
  font-family: $font-primary-bold;
  font-size: toRem(14px);
}

.title-medium-semibold {
  font-family: $font-primary-bold;
  font-size: toRem(18px);
}

.title-large-semibold {
  font-family: $font-primary-bold;
  font-size: toRem(24px);
}

.title-x-large-semibold {
  font-family: $font-primary-bold;
  font-size: toRem(36px);
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: toRem(30px);
  @media screen and (min-width: $breakpoint-desktop) {
    height: 100vh;
  }
}

.isButton {
  text-transform: uppercase;
  color: $color-quinary;
  border-radius: toRem(35px);
  background-color: $color-secondary;
  margin: toRem(10px);
  padding: toRem(10px) toRem(15px);
  &:hover {
    color: $color-secondary;
    background-color: $color-quinary;
  }
}

.isContainer {
  padding: toRem(30px);
  background-color: white;
  border-radius: toRem(20px);
  box-shadow: 0 5px 20px 0 rgb(69 67 96 / 10%);
}
